.login-btn-flex {
    width: 100%;
    /*background-color: aquamarine;*/
}

.login-btn {
    background-color: #03C75A !important;
    border-color: #03C75A !important;
    width: 50vw;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

/* antd Button 컴포넌트의 기본 액션 동작 없앰 */
.login-btn:hover,
.login-btn:focus,
.login-btn:active {
    background-color: #03C75A !important;
    border-color: #03C75A !important;
    color: white !important;
    opacity: 1 !important;
    transform: none !important;
    box-shadow: none !important;
}

.login-btn-logo {
    width: 32px;
    height: 32px;
}