.join-btn-flex {
    width: 100%;
    /*justify-content: center;*/
    /*background-color: aquamarine;*/
}

.naver-login-btn {
    background-image: url("/src/asserts/image/naver_login_btn_bg.png");
    border-color: #03C75A;
    width: 50vw;
    max-width: 450px;
    min-width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
}

/* antd Button 컴포넌트의 기본 액션 동작 없앰 */
.naver-login-btn:hover,
.naver-login-btn:focus,
.naver-login-btn:active {
    background-color: #03C75A !important;
    border-color: #03C75A !important;
    color: white !important;
    opacity: 1 !important;
    transform: none !important;
    box-shadow: none !important;
}

.kakao-login-btn {
    background-image: url("/src/asserts/image/kakao_login_btn_bg.png");
    width: 50vw;
    max-width: 450px;
    min-width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    border-color: #FEE500;
}

/* antd Button 컴포넌트의 기본 액션 동작 없앰 */
.kakao-login-btn:hover,
.kakao-login-btn:focus,
.kakao-login-btn:active {
    background-color: #FEE500 !important;
    border-color: #FEE500 !important;
    color: rgba(0, 0, 0, 0.85) !important;
    opacity: 1 !important;
    transform: none !important;
    box-shadow: none !important;
}